<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genshin Helper</title>
    <meta property="og:title" content="Genshin Helper" />
    <meta property="og:description" content="每天自動簽到 HoyoLab" />
    <meta property="og:type" content="product" />
    <meta property="og:image" content="./static/images/logo.png" />
    <meta name="HandheldFriendly" content="true">
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./static/css/home.css">
</head>

<body>
    <div class="container">
        <div class="window">
            <div class="handle">
                <div class="buttons">
                    <button class="close"></button>
                    <button class="minimize"></button>
                    <button class="maximize"></button>
                </div>
                <span class="title"></span>
            </div>
            <div class="terminal"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="./static/js/home.js"></script>
</body>

</html>